---
import LayoutFundadores from "../../layouts/LayoutFundadores.astro";

export function getStaticPaths() {
  const data = ["SENA CTGI", "UDEA", "Universidad Nacional"];
  return data.map((title) => ({
    params: { title },
    props: { title },
  }));
}

const { title } = Astro.props;
export const data = {
  "SENA CTGI": [
    {
      Title: "Tecnólogo en Análisis y Desarrollo de Software",
      Desc: `Forma profesionales capaces de diseñar, desarrollar, probar y mantener aplicaciones de software, con habilidades en lenguajes de programación, bases de datos y metodologías ágiles.

Duración: Aproximadamente 2 años (etapas lectiva y productiva).
Salidas laborales: Desarrollador de software, programador, analista de sistemas.`,
      image: "https://i.ytimg.com/vi/8t3a_aEJM3Y/maxresdefault.jpg",
    },
    {
      Title: "Tecnólogo en Gestión de Redes de Datos",
      Desc: `Enfocado en la instalación, configuración y administración de redes de datos, seguridad informática y servicios de conectividad.

Duración: 2 años.
Salidas laborales: Administrador de redes, técnico en telecomunicaciones, soporte TI.`,
      image: "https://i.ytimg.com/vi/o0nNCaUKnp4/maxresdefault.jpg",
    },
    {
      Title: "Tecnólogo en Producción de Multimedia",
      Desc: `Enseña a diseñar, desarrollar y producir contenidos digitales como animaciones, páginas web, juegos y recursos interactivos para medios digitales.

Duración: 2 años.
Salidas laborales: Diseñador multimedia, productor de contenidos digitales, desarrollador web front-end.`,
      image:
        "https://i.ytimg.com/vi/H4Pa24nf9PE/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCvtTrzm1ax8LWy2hBVvsRLYR11iw",
    },
  ],
  UDEA: [
    {
      Title: "Medicina",
      Desc: `Este programa forma médicos generales con una sólida base científica, ética y humanística. El plan de estudios se divide en tres ciclos: básico, intermedio y clínico. Durante los últimos semestres, los estudiantes realizan prácticas clínicas y comunitarias en diversos servicios de salud, preparándolos para atender integralmente las necesidades de salud de individuos y comunidades.

Duración: 13 semestres (aproximadamente 6 años)
Modalidad: Presencial
Título otorgado: Médico(a) y Cirujano(a)`,
      image:
        "https://www.udea.edu.co/wps/wcm/connect/udea/a72eb012-7cb9-4520-88ae-37cdbcf1f885/educontinua.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_L8L8H8C0LODDC0A6SSS2AD2GO4-a72eb012-7cb9-4520-88ae-37cdbcf1f885-mPpXX.G",
    },
    {
      Title: "Ingeniería Industrial",
      Desc: `Esta carrera capacita a profesionales para analizar, diseñar y optimizar procesos en sistemas productivos y de servicios. Los egresados están preparados para mejorar la eficiencia, calidad y productividad en organizaciones, aplicando conocimientos en gestión, economía, logística y tecnología.

Duración: 10 semestres
Modalidad: Presencial y virtual
Título otorgado: Ingeniero(a) Industrial`,
      image: "https://i.ytimg.com/vi/q6z8bq4oZ6A/maxresdefault.jpg",
    },
    {
      Title: "Psicología",
      Desc: `El programa de Psicología ofrece una formación integral en el estudio de los procesos mentales y el comportamiento humano. Los egresados pueden desempeñarse en diversos campos como el clínico, social-comunitario, organizacional, educativo, jurídico y deportivo, realizando evaluaciones, intervenciones y proyectos de investigación que contribuyan al bienestar individual y colectivo.

Duración: 10 semestres
Modalidad: Presencial
Título otorgado: Psicólogo(a)`,
      image:
        "https://www.udea.edu.co/wps/wcm/connect/udea/94d29428-490d-4715-a2d7-e153080c0610/5/WhatsApp+Image+2022-10-24+at+11.31.05+AM.jpeg?MOD=AJPERES",
    },
  ],
  "Universidad Nacional": [
    {
      Title: "Arquitectura",
      Desc: `Este programa forma profesionales capaces de diseñar, planificar y construir espacios arquitectónicos que respondan a las necesidades sociales, culturales y ambientales. Los estudiantes desarrollan habilidades en diseño, teoría, historia y tecnología de la arquitectura, preparándose para enfrentar los desafíos del entorno construido.

Duración: 10 semestres
Modalidad: Presencial
Título otorgado: Arquitecto(a)`,
      image:
        "https://arquitectura.medellin.unal.edu.co/images/2025-Arq/20250508-ArquitecturaUNAL-JPG.jpg",
    },
    {
      Title: "Ingeniería Civil",
      Desc: `La carrera de Ingeniería Civil prepara profesionales para diseñar, construir y mantener infraestructuras como carreteras, puentes, edificaciones y sistemas hidráulicos. El programa enfatiza una formación integral que combina conocimientos técnicos con una comprensión de las implicaciones sociales y ambientales de las obras civiles.

Duración: 10 semestres
Modalidad: Presencial
Título otorgado: Ingeniero(a) Civil`,
      image:
        "https://ingenieria.bogota.unal.edu.co/images/recursos/pregrado/ingenieriaCivil/Imagen1.jpg",
    },
    {
      Title: "Ciencias de la Computación",
      Desc: `Este programa forma profesionales con sólidos conocimientos en algoritmos, estructuras de datos, inteligencia artificial, desarrollo de software y otras áreas fundamentales de la computación. Los egresados están capacitados para enfrentar los retos tecnológicos actuales y contribuir al avance de la ciencia y la industria informática.

Duración: 10 semestres
Modalidad: Presencial
Título otorgado: Científico(a) de la Computación`,
      image:
        "https://diracad.bogota.unal.edu.co/images/unalaspirante/pregrados/CIENCIAS-DE-LA-COMPUTACION.jpg",
    },
  ],
};
---

<LayoutFundadores title={`Catapulta - ${title}`}>
  <section class="p-8 md:p-20 flex flex-col gap-12">
    {
      data[title]?.map((e) => (
        <div class="flex flex-col md:flex-row items-center md:items-start gap-6 md:gap-10 w-full text-white">
          <div class="md:w-1/2">
            <h1 class="text-2xl font-bold uppercase mb-4">{e.Title}</h1>
            <p class="text-lg bg-[#00000075] p-4 rounded-2xl">{e.Desc}</p>
          </div>
          <img
            class="md:w-1/2 w-full h-auto rounded-3xl object-cover"
            src={e.image}
            alt={e.Title}
          />
        </div>
      ))
    }
  </section>
</LayoutFundadores>
