---
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header";
import "../styles/global.css";
import Navigate from "../components/Navigate.astro";
import Footer from "../components/footer.astro";
const { title, titleHero, img, active } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body class="bg-[#2D1D4E]">
    <Header titleHero={titleHero} img={img}>
      <Navigate active={active} />
    </Header>
    <slot />
    <Footer />
  </body>
</html>
